﻿@{
    ViewBag.Title = "Sepetim;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ePatates</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">


</head>
<body>


    <div class="thumbnail">
        <img src="~/img/item/itempic.jpg" alt="">
        <div class="caption">
            <h4 class="pull-right">Fiyat</h4>
            <h4>
                @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
            </h4>
            <p>Ürün Açıklaması</p>
        </div>
        <div class="ratings">
            <p class="pull-right">Görüntülenme Sayısı</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>










    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>